@font-face {
  font-family: galaxy;
  src:url(//type/galaxy.ttf) format("truetype");
}

@font-face {
  font-family: Minecrafter_3;
  src:url(Minecrafter_3.ttf) format("truetype");
}

html, body {
  height: 100%;
  background: yellow;
}

img {
  opacity: 0.5;
}
